/* h1{
    text-align: center;
    margin: 3rem;
} */
head{
    font-size: 2rem;
}
.overall{
    min-height: 100%;
    width: 100%;
}
.box{
    width: 80%;
    margin: 1rem auto;
    text-align: center;
}
input{
    padding: 7px;
    margin: 1rem;
}
.addition{
    padding: 7px;
    margin: 1rem;
}
table{
    margin: 1rem auto;
}
th{
    padding: 16px 2rem;
    border: 2px solid teal;
    margin-bottom: 2rem;
    background-color: rgb(10, 220, 235);
    font-size: 1.2rem;
}
td{
    text-align: center;
    border: 2px solid teal;
    padding: 7px;
}
.ed{
    padding: 3px;
    margin-left: 5px;
}
.total{
    text-align: center;
}
.income{
    text-align: center;
    padding-top: 1rem;
}
.income input{
    font-size: 1.7rem;
    width: 10rem;
    text-align: center;
    font-weight: bolder;
}
.final{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
} 
.total input{
    font-size: large;
    width: 7rem;
    color: black;
    background-color: rgb(10, 220, 235);
    text-align: center;
}
.bal input{
    font-size: large;
    width: 7rem;
    color: black;
    background-color: rgb(10, 220, 235);
    text-align: center;
}
.px{
    width: 6rem;
    text-align: center;
}
.py{
    width: 10rem;
    text-align: center;
}
.summary{
    width: 100%;
    text-align: center;
    margin: 0 auto 10px auto;
}
.minus{
    color: red; 
    font-weight: bold;
}
.plus{
    color: green; 
    font-weight: bold;
}
.summary p{
    font-size: 1.5rem;
    /* margin-bottom: 2rem; */
}
.icon-delete{
    color: rgb(15, 15, 92);
}
.icon-delete{
    color: red;
}
.G-reset{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset{
    /* margin: 1rem auto; */
    text-align: center;
    color: #fff;
    background-color: red;
    padding: 14px;
    border-radius: 50%;
    font-size: 1rem;
    margin-bottom: 2rem;
}
@media screen and (max-width: 750px){
    .overall{
        width: 100%;
    }
    .log{
        width: 1rem;
        /* background-color: red; */
    }
    th{
    padding: 10px 1rem;
    border: 2px solid teal;
    margin-bottom: 2rem;
    background-color: rgb(10, 220, 235);
    font-size: 1.2rem;
}
    .income h2{
        padding:  0 1rem;
    }
    .summary{
        padding: 0 1rem;
    }
    .total{
        padding: 0 10px;
    }
    .summary p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    }
    .income input{
    font-size: 1.2rem;
    width: 7rem;
    font-weight: bolder;
    text-align: center;
    }
    .income h2{
        font-size: 1.3rem;
    }
    .box h2{
        font-size: 1.2rem;
    }
    form .narration{
        width: 6rem;
    }
}